<link href="https://fonts.googleapis.com/css?family=Geo&display=swap" rel="stylesheet">
<style>
    .logo {
        font-family: 'Geo', sans-serif;
        font-size: 1.765rem;
        font-weight: bold;
    }
    .posts {
        width: 100%;
    }
    .blinking-cursor {
        font-weight: 100;
        font-size: 30px;
        color: #2E3D48;
        -webkit-animation: 1s blink step-end infinite;
        -moz-animation: 1s blink step-end infinite;
        -ms-animation: 1s blink step-end infinite;
        -o-animation: 1s blink step-end infinite;
        animation: 1s blink step-end infinite;
    }
    #canvas-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: -webkit-calc(100vw - 864px);
        width: calc(100vw - 864px);
        height: 100vh;
        display: none;
    }

    body.about #canvas-wrapper {
        display: block;
    }

    @media screen and (max-width: 1460px) {
        #canvas-wrapper {
            display: none !important;
        }
    }

    @keyframes "blink" {
        from, to {
            color: transparent;
        }
        50% {
            color: black;
        }
    }

    @-moz-keyframes blink {
        from, to {
            color: transparent;
        }
        50% {
            color: black;
        }
    }

    @-webkit-keyframes "blink" {
        from, to {
            color: transparent;
        }
        50% {
            color: black;
        }
    }

    @-ms-keyframes "blink" {
        from, to {
            color: transparent;
        }
        50% {
            color: black;
        }
    }

    @-o-keyframes "blink" {
        from, to {
            color: transparent;
        }
        50% {
            color: black;
        }
    }
</style>